<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeepScan File Upload</title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Risk Score:</h1>
    </div>
    <div class="result">
        <h1>
            <p th:text="|${score}|"/>
        </h1>
    </div>
    <div class="container">
        <h1>Model Accuracy Score:</h1>
    </div>
    <div class="result">
        <h1>
            <p>
                0.0%
            </p>
        </h1>
    </div>
</body>
</html>
